@import "./variables.scss";

.container {
  display: grid;
  place-items: center;
  height: 100vh;

  text-align: center;
  font-size: 48px;

  @media (min-width: $breakpoints-mobile) {
    padding-top: 3%;
    padding-bottom: 3%;
  }

  main {
    background: $white;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100vh;

    @media (min-width: $breakpoints-mobile) {
      max-width: $breakpoints-mobile;
      height: 100%;
    }

    section {
      display: grid;
      height: 100%;
      place-items: center;
      place-content: center;

      h1 {
        font-size: 36px;
        color: $primary;
        margin: 0;
      }

      h2 {
        font-size: 24px;
        color: $secondary;
        margin-bottom: 16px;
      }
    }
  }
}
