@import "./variables.scss";

.section {
  display: grid;
  height: 100%;
  place-items: center;
  place-content: center;

  h1 {
    font-size: 36px;
    color: $primary;
    margin: 0;
  }

  h2 {
    font-size: 24px;
    color: $secondary;
    margin-bottom: 16px;
  }
}
