.header {
  background: #ffffffaa;
  backdrop-filter: blur(5px);
  align-items: center;
  border-bottom: 1px solid #eee;
  height: 49px;
  display: flex;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
  padding-left: 15px;

  h2 {
    font-size: 21px;
    font-weight: 800;
    margin: 0;
  }
}

.section {
  min-height: 100vh;
}
